---
import "../stylesheet/globalstylesheet.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Aboutcomponent from "../components/Aboutcomponent.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Sabora Studio Morrocan artist making poster art, salg af kunstplakater og farverige malerier" />
		<meta name="keywords" content="Sabora Studio Morrocan poster art kunstplakater farverige malerier" />
    <title>Sabora Studio - About Me</title>
  </head>
  <body>
    <header>
      <Navigation />
    </header>
    <main>
      <Aboutcomponent />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
