---
import "../stylesheet/globalstylesheet.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About me</title>
	</head>
	<body>
        <header>

        </header>
        <main>
		    <h1>This is a heading</h1>
		    <p>And here is some paragraph text</p>
		    <script src="../js/mainjs"></script>
        </main>
        <footer>
            
        </footer>
	</body>
</html>