---
import Buttons from "../components/Buttons.astro";
import Navigation from "../components/Navigation.astro";
import "../stylesheet/globalstylesheet.css";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Infographic from "../components/Infographic.astro";

const url = "https://clijcnedvgtppqzmwicf.supabase.co/rest/v1/artwork?limit=4";
// med "?limit=4" begrænser vi outputtet til at vise de første 4 objekter i vores database

const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNsaWpjbmVkdmd0cHBxem13aWNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA3Mzc1NDYsImV4cCI6MjAxNjMxMzU0Nn0.ZB94RLQFTwNWgedKWPsDaUC6axpOb001oC9_gVqzCnY";

const options = {
  headers: {
    apikey: key,
  },
};

const response = await fetch(url, options);
const data = await response.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <!-- <a href="/portfolio">Portfolio</a>
      <a href="/singleview">Singleview</a> -->
      <Navigation />
    </header>
    <main>
      <h1>This is a heading</h1>
      <p>And here is some paragraph text</p>
      <section>
        {
          data.map((artpiece) => {
            return <Card data={artpiece} />;
          })
        }
      </section>
      <section class="infographic">
        <h2>Shippingjourney</h2>
        <div class="indhold">
          <Infographic
            billede=""
            overskrift="Order"
            beskrivelse="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
          />
          <Infographic
            billede=""
            overskrift="Print"
            beskrivelse="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
          />
          <Infographic
            billede=""
            overskrift="Mail"
            beskrivelse="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
          />
          <Infographic
            billede=""
            overskrift="Home"
            beskrivelse="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
          />
        </div>
      </section>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style></style>
