---
import "../stylesheet/globalstylesheet.css";
---

<div class="footer">
  <p>SABORA STUDIO</p>
  <p>casasabrin@me.dk</p>
  <a href="#"><img src="#" alt="instagram" /></a>
  <a href="#"><img src="#" alt="etsy" /></a>
</div>

<style>
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--green);

    p {
      color: var(--lightsand);
    }
  }
</style>
